In [1]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import numpy as np
import pandas as pd

In [5]:
## load the ann scalar and ohe pickles
model=load_model('model.h5')

with open('Ohe_geographpy.pkl', 'rb') as file:
    ohe=pickle.load(file)

with open('Lable_encoder_gender.pkl', 'rb') as file:
    lable_encoder=pickle.load(file)
  
with open('scalar.pkl','rb') as file:
    scalar=pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [6]:
input_data = {
    "CreditScore" : 600,
    "Geography": "France",
    "Gender" : "Male",
    "Age" : 40,
    "Tenure" : 3,
    "Balance" : 60000,
    "NumOfProducts" : 2,
    "HasCrCard": 1,
    "IsActiveMember": 1,
    "EstimatedSalary" : 50000
}

In [19]:
geo_encoded=ohe.transform([[input_data["Geography"]]])
geo_encoded_df=pd.DataFrame(geo_encoded,columns=ohe.get_feature_names_out())
geo_encoded_df

c:\myProgrammingLearning\projects\ANN\venv\Lib\site-packages\sklearn\utils\validation.py:2691: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [27]:
input_df=pd.DataFrame([input_data])
input_df.drop(columns=['Geography'],axis=1,inplace=True)
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,Male,40,3,60000,2,1,1,50000

In [28]:
df=pd.concat([input_df,geo_encoded_df],axis=1)

In [29]:
df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,Male,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [30]:
df['Gender']=lable_encoder.transform(df['Gender'])
df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [31]:
df=scalar.transform(df)

In [32]:
df

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [34]:
prediction=model.predict(df)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 30ms/step

In [35]:
prediction

array([[0.0469647]], dtype=float32)

In [38]:
prediction[0][0]

np.float32(0.046964705)

In [42]:
print("Most Likely to churn" if model.predict(df)[0][0]>0.5 else "Less likely to churn")

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 22ms/step
Less likely to churn